
@{
    ViewBag.Title = "Play Landmine Now! Don't Get Blown Up!";
    ViewBag.MetaDescription = "Play Landmine: Don't get blown up by invisible mines!";
}
<div class="spacer">&nbsp;</div>
@Html.Partial("_GameCanvas")
<div class="alert alert-info"><strong>Tip:</strong> You may have to click inside the game field to give it keyboard focus.</div>

@using(Html.BeginModal("Game Over", okText: "OK", closeText: "Close"))
{
    <div class="loading" data-bind="visible: loading()">Loading High Scores...</div>
    <table data-bind="visible: !loading()" class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Nickname</th>
                <th>Score</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: sortedScores">
            <tr data-bind="css: {info: IsEditable}">
                <td>
                    <span data-bind="ifnot: IsEditable">
                        <span data-bind="text: Nickname"></span>
                    </span>
                    <span data-bind="if: IsEditable">
                        <input data-bind="value: Nickname" placeholder="Your Name" />
                    </span>
                </td>
                <td data-bind="text: Value"></td>
                <td data-bind="text: Level"></td>

            </tr>
        </tbody>
    </table>
}

@section scripts {
    @Scripts.Render("~/bundles/landmine-integration")
}