
@{
    ViewBag.Title = "Play";
}

<h2>Landmine</h2>

@Html.Partial("_GameCanvas")

@using(Html.BeginModal("Game Over", okText: "OK", closeText: "Close"))
{
    <div class="loading" data-bind="visible: loading()">Loading High Scores...</div>
    <table data-bind="visible: !loading()">
        <thead>
            <tr>
                <th>Nickname</th>
                <th>Score</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: sortedScores">
            <tr>
                <th>
                    <span data-bind="ifnot: IsEditable">
                        <span data-bind="text: Nickname"></span>
                    </span>
                    <span data-bind="if: IsEditable">
                        <input data-bind="value: Nickname" placeholder="Your Name" />
                    </span>
                </th>
                <th data-bind="text: Value"></th>
                <th data-bind="text: Level"></th>

            </tr>
        </tbody>
    </table>
}

@section scripts {
    @Scripts.Render("~/bundles/landmine-integration")
}