@{
    ViewBag.Title = "Landmine: A Test of Wits";
    ViewBag.MetaDescription = "Test your mind against players across the globe as you race to rid the field of dangerous explosives.";
}

<div class="jumbotron">
    <h1>Landmine</h1>
    <p class="lead">A simple game of find the mine. Don't get blown up!</p>
    <p><a href="@Url.Action("Play", "Game")" class="btn btn-primary btn-lg">Play &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Simple</h2>
        <p>
            <img class="ad" src="~/Content/img/flags.png" />
            Navigate the mine field and dig holes where you think it's safe. You can place flags to help you remember what you've
            puzzled out.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Play", "Game")">Play Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get the High Score</h2>
        <p>
            <img class="ad" src="~/Content/img/high-scores.png" />
            How high of a score can you collect? You're working against the clock and players world-wide so move quickly!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Play", "Game")">Play Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Open Source</h2>
        <p>
            <img src="~/Content/img/code.png" class="ad" />
            I wanted to learn a bunch of things by doing this project and in the process figure things out that other people
            might find useful. So go take a peek at the <a href="https://github.com/akatakritos/landmine.js">game</a> or
            <a href="https://github.com/akatakritos/Landmine.Web">backend</a> code.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Play", "Game")">Play Now &raquo;</a></p>
    </div>
</div>