@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Landmine</h1>
    <p class="lead">A simple game of find the mine. Don't get blown up!</p>
    <p><a href="@Url.Action("Play", "Game")" class="btn btn-primary btn-lg">Play &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Simple</h2>
        <p>
            Navigate the mine field and dig holes where you think its safe. You can place flags to help you remember what you've
            puzzled out.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Play", "Game")">Play Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get the High Score</h2>
        <p>How high of a score can you collect? You're working against the clock and players world-wide so move quickly!</p>
        <p><a class="btn btn-default" href="@Url.Action("Play", "Game")">Play Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ad Free</h2>
        <p>
            This game is never going to make me any money, so why ruin your experience with ads that try to steal your
            info? Ad free forever!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Play", "Game")">Play Now &raquo;</a></p>
    </div>
</div>