@model PagedList.IPagedList<Landmine.Domain.Entities.Score>

@{
    ViewBag.Title = "Lowest Scores: Shooting for the bottom?";
    ViewBag.MetaDescription = "Maybe a low score is more your style!";
}

<h2>Leaderboard - Lowest Scores</h2>
<small>Not everbody likes aiming for the top! Sometimes the bottom is where it's at.</small>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@Html.Partial("_ScoreTable")

<a href="@Url.Action("Index", "Leaderboard")">Highest Scores</a>